<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BerlioWeb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BerlioWeb.styles.css" asp-append-version="true" />
    <!-- Добавление скрипта reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    @if (ViewContext?.RouteData?.Values["action"]?.ToString() != "Authorization" && 
    ViewContext?.RouteData?.Values["action"]?.ToString() != "Registration" &&
    ViewContext?.RouteData?.Values["action"]?.ToString() != "Personal")
    {
        <header>
            <div class="header-top">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" class="logo"></a>
                <form asp-controller="Account" asp-action="CheckToken" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" style="background: none; border: none; padding: 0;">
                        <img src="~/images/account.png" class="account">
                    </button>
                </form>
            </div>
            <div class="menu">
                <div class="leftmenu">
                    <div class="dropdown">
                        <a asp-area="" asp-controller="Category" asp-action="Programs" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" role="button" aria-expanded="false" style="text-decoration: none;">
                            Программы
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Программа 1</a></li>
                            <li><a class="dropdown-item" href="#">Программа 2</a></li>
                            <li><a class="dropdown-item" href="#">Программа 3</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a asp-area="" asp-controller="Category" asp-action="Equipments" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton2" role="button" aria-expanded="false" style="text-decoration: none;">
                            Оборудование
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="#">Оборудование 1</a></li>
                            <li><a class="dropdown-item" href="#">Оборудование 2</a></li>
                            <li><a class="dropdown-item" href="#">Оборудование 3</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a asp-area="" asp-controller="Category" asp-action="ForClients" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton3" role="button" aria-expanded="false" style="text-decoration: none;">
                            Для клиентов
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                            <li><a class="dropdown-item" href="#">Клиенты 1</a></li>
                            <li><a class="dropdown-item" href="#">Клиенты 2</a></li>
                            <li><a class="dropdown-item" href="#">Клиенты 3</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a asp-area="" asp-controller="Category" asp-action="Services" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton4" role="button" aria-expanded="false" style="text-decoration: none;">
                            Сервисы
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" asp-controller="Service" asp-action="Service1">Оплата проезда по платным дорогам BelToll</a></li>
                            <li><a class="dropdown-item" asp-controller="Service" asp-action="Service2">Оплата за топливо в формате IBAN</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rightmenu">
                    <a asp-area="" asp-controller="Contacts" asp-action="Index"><button class="btn btn-transparent" type="button">Контакты</button></a>
                    <a asp-area="" asp-controller="About" asp-action="Index"><button class="btn btn-transparent" type="button">О Берлио</button></a>
                </div>
            </div>
        </header>
    }
    @* <div class="container" style="margin-bottom:10vh"> *@
    @* <main role="main" class="pb-3">  *@
    @RenderBody()
    @* </main> *@
    @* </div>  *@
    @if (ViewContext?.RouteData?.Values["action"]?.ToString() != "Authorization" && 
    ViewContext?.RouteData?.Values["action"]?.ToString() != "Registration" &&
    ViewContext?.RouteData?.Values["action"]?.ToString() != "Personal")
    {
        <footer class="footer" style="position:relative">
            <div class="container">
            <img src="~/images/logofooter.png" class="footer-logo">
            <div class="footer-text">
                ул. Быховская, 55<br>
                г. Минск, Беларусь, 220007<br>
                Телефоны отдела по <br>
                обслуживанию клиентов в г. Минске: <br>
                +375 17 210 00 00<br>

                berlio@berlio.by<br>
            </div>
        </div>
    </footer>
    }
    @section Scripts {
        <script>
            $(document).ready(function () {
                // Добавьте токен в заголовок для всех запросов
                $(document).ajaxSend(function (e, xhr, settings) {
                    const token = localStorage.getItem('jwtToken');
                    if (token) {
                        xhr.setRequestHeader('Authorization', `Bearer ${token}`);
                    }
                });
            });
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
