@{
	ViewData["Title"] = "Главная";
}
<div class="w-100 image-container">
	<img style="width:100%;    height: 34vw;" src="~/images/mainpage.png">
	<h2 class="overlay-h">ООО БЕРЛИО</h2>
	<p class="overlay-text">
		Компания работает на рынке производителей и услуг с 1992 года.<br>
		<br>
		Количество объектов, принимающих к<br>оплате карты "Берлио": 804 — Беларусь.<br>
		За это время оборудование,<br>принимающее к оплате электронные<br>карточки системы «Берлио» установлено<br>на объектах торговли и сферы услуг<br>Республики Беларусь.
	</p>
</div>
<div class="popular_recomended">
	<h5 style="color:white;">ПОПУЛЯРНОЕ И РЕКОМЕНДУЕМОЕ</h5>
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="~/images/electrocardsForSlider.png" class="d-block w-100" alt="Slide 1">
				<div class="carousel-caption d-none d-md-block">
					@* <form class="a-product" asp-controller="Product" asp-action="Index" method="post">
						<!-- Используем Newtonsoft.Json для сериализации -->
						<input type="hidden" name="itemJson" value="@Newtonsoft.Json.JsonConvert.SerializeObject(
           item,
           new Newtonsoft.Json.JsonSerializerSettings
           {
               TypeNameHandling = Newtonsoft.Json.TypeNameHandling.All
           })" />
						<button type="submit" class="product-button">Подробнее</button>
					</form> *@
					<a asp-controller="Product" asp-action="ShowEquipment" asp-route-name="Электронные карточки" class="btn carousel-button">Электрокарты</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="~/images/beltollForSlider.png" class="d-block w-100" alt="Slide 2">
				<div class="carousel-caption d-none d-md-block">
					<a asp-controller="Service" asp-action="Service1" class="btn carousel-button">БелТолл</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="~/images/ibanForSlider.png" class="d-block w-100" alt="Slide 3">
				<div class="carousel-caption d-none d-md-block">
					<a asp-controller="Service" asp-action="Service2" class="btn carousel-button">Оплата за топливо в формате IBAN</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="~/images/appForSlider.png" class="d-block w-100" alt="Slide 4">
				<div class="carousel-caption d-none d-md-block">
					<button class="carousel-button">Приложение</button>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
<div class="w-100" style="background-color:green; justify-items:center;">
	<p style="color:white; font-size:30px; padding: 3vh 0;">Мы предлагаем:</p>
</div>
<div class="info-section">
	<div class="info-block" style="background-image: url('../images/programsmainpage.png');">
		@* <img src="~/images/appForSlider.png"> *@
		<div class="info-content">
			<h3 class="info-title">Программы</h3>
			<p class="info-description">Мы предлаем программы например “Нефть и капитал”, “Региональный центр”, “Программа лояльности” и т.д</p>
		</div>
	</div>
	<div class="info-block" style="background-image: url('../images/oborudovaniemainpage.png');">
		<div class="info-content">
			<h3 class="info-title">Оборудование</h3>
			<p class="info-description">Мы предлаем программы например “Нефть и капитал”, “Региональный центр”, “Программа лояльности” и т.д</p>
		</div>
	</div>
	<div class="info-block" style="background-image: url('../images/forclienti.png');">
		<div class="info-content">
			<h3 class="info-title">Для клиентов</h3>
			<p class="info-description">Мы предлаем программы например “Нефть и капитал”, “Региональный центр”, “Программа лояльности” и т.д</p>
		</div>
	</div>
	<div class="info-block" style="background-image: url('../images/servicesmainpage.png');">
		<div class="info-content">
			<h3 class="info-title">Сервисы</h3>
			<p class="info-description">Мы предлаем программы например “Нефть и капитал”, “Региональный центр”, “Программа лояльности” и т.д</p>
		</div>
	</div>
</div>