@{
    ViewData["Title"] = "Home Page";
}
<div class="w-100 image-container">
    <img style="width:100%;" src="~/images/mainpage.png">
    <h2 class="overlay-h">ООО БЕРЛИО</h2>
    <p class="overlay-text">
        Компания работает на рынке производителей и услуг с 1992 года.<br>
        <br>
        Количество объектов, принимающих к<br>оплате карты "Берлио": 804 — Беларусь.<br>
        За это время оборудование,<br>принимающее к оплате электронные<br>карточки системы «Берлио» установлено<br>на объектах торговли и сферы услуг<br>Республики Беларусь.
    </p>
</div>
<div class="container popular_recomended">
    <p style="color:white">говно залупа пп=есни хер</p>
</div>
<div class="container popular_recomended">
    <p style="color:white">говно залупа пп=есни хер</p>
</div>
<div class="container popular_recomended">
    <p style="color:white">говно залупа пп=есни хер</p>
</div>
<div class="container popular_recomended">
    <p style="color:white">говно залупа пп=есни хер</p>
</div>
