html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
    background-color: #222222;
    height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

header {
    margin: 0vh 18vw 0vh 18vw;
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    justify-content: flex-start; /* Выравнивание элементов по началу */
    align-items: flex-start; /* Выравнивает элементы по левой стороне */
    position: relative; /* Добавьте относительное позиционирование */
    z-index:1;
}

    header img {
        margin: 3vh 0 3vh 0vw;
    }

.header-top {
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Выравнивает элементы по вертикали */
    width: 100%;
}

.logo {
    /* Фиксированная ширина и высота */
    width: auto; /* примерно 215px при ширине viewport 1920px */
    height: 5.92vh; /* примерно 64px при высоте viewport 1080px */
}

.account {
    /* Фиксированная ширина и высота */
    width: auto; /* примерно 42px при ширине viewport 1920px */
    height: 3.91vh; /* примерно 42px при высоте viewport 1080px */
    /* Выравнивание вправо */
    margin-left: auto;
}

.menu {
    width: 100%; /* Занимает всю ширину header */
    height: 6.57vh; /* примерно 71px при высоте viewport 1080px */
    margin-top: 0.89vh; /* примерно 10px при высоте viewport 1080px */
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
}

.leftmenu {
    width: 40.55vw; /* примерно 778px при ширине viewport 1920px */
    height: 4.91vh; /* примерно 53px при высоте viewport 1080px */
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    padding: 0 1vw;
}
.dropdown .btn-secondary {
    background-color: transparent; /* Прозрачный фон */
    color: white; /* Белый цвет текста */
    border: 1px solid transparent; /* Прозрачная граница */
    border-radius: 5px; /* Закругленные углы */
    font-size: 1.1vw; /* Размер шрифта */
    outline: none; /* Убирает обводку при фокусе */
    text-decoration: none; /* Убирает подчеркивание ссылки */
}

    .dropdown .btn-secondary:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Прозрачный фон при наведении */
        border-color: white; /* Белая граница при наведении */
    }

    .dropdown .btn-secondary:focus,
    .dropdown .btn-secondary:active {
        background-color: transparent; /* Прозрачный фон при фокусе и активации */
        border-color: white; /* Белая граница при фокусе и активации */
        outline: none; /* Убирает обводку при фокусе */
        box-shadow: none; /* Убирает тень при фокусе и активации */
    }

.dropdown-menu {
    background-color: #333; /* Цвет фона выпадающего меню */
    border: 1px solid white; /* Белая граница */
    border-radius: 5px; /* Закругленные углы */
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block; /* Показывает выпадающее меню при наведении */
}

.dropdown-item {
    color: white; /* Белый цвет текста */
    text-decoration: none; /* Убирает подчеркивание ссылок */
}

    .dropdown-item:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Прозрачный фон при наведении */
    }

.rightmenu {
    display: flex;
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    gap: 10px; /* Отступ между кнопками */
}

.btn-transparent {
    background-color: transparent; /* Прозрачный фон */
    color: white; /* Белый цвет текста */
    border: 1px solid transparent; /* Белая граница */
    border-radius: 5px; /* Закругленные углы */
    font-size: 1.1vw; /* Размер шрифта */
    padding: 5px 10px; /* Внутренние отступы */
    outline: none; /* Убирает обводку при фокусе */
}

    .btn-transparent:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Прозрачный фон при наведении */
    }

.country-flag {
    width: 20px; /* Ширина флага */
    height: 15px; /* Высота флага */
    margin-right: 10px; /* Отступ справа от флага */
    object-fit: contain; /* Сохраняет соотношение сторон */
}

footer {
    background-color: black;
    color: white; /* Цвет текста футера */
    margin: 5vh 0 0 0; /* Отступы сверху и снизу */
    text-align: center; /* Выравнивание текста по центру */
}
.footer .container {
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    width: 100%;
}

.footer-logo {
    width: 22vw; /* Примерная ширина логотипа */
    height: auto;
}

.footer-text {
    text-align: right; /* Выравнивание текста вправо */
    /*color: white;*/
    /* ул. Быховская, 55 
г. Минск, Беларусь, 220007
Телефоны отдела по 
обслуживанию клиентов в г. Минске: 
+375 17 210 00 00
 +375 17 397 10 81 +375 17 369 10 82 +375 29 623 08 88 (velcom) +375 29 773 08 88 МТС

berlio@berlio.by */

    
    width: 420px;
    left: 922px;
    top: 2229px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}
.image-container {
    position: relative; /* Относительное позиционирование для внутренних элементов */
}

.contactsaboutTitle {
    position: absolute;
    height: 11.72vw;
    left: 0px;
    top: 119px;
    background: #2D4128;
    z-index: 0;
    /*align-content:center;*/
}
.TitleContactsAbout {
    color: white;
    top: 60%;
    text-align: center;
    position: relative;
    font-size: 2.1vw;
}

.overlay-h {
    position: absolute; /* Абсолютное позиционирование */
    top: 15%; /* Центрирование по вертикали */
    left: 25%; /* Центрирование по горизонтали */
    /*transform: translate(-50%, -50%);*/ /* Центрирование по центру */
    color: white; /* Цвет текста */
    /*font-size: 3vw;*/ /* Размер шрифта в относительных единицах */
    z-index: 1; /* Уровень поверхности */
}
.overlay-text {
    position: absolute; /* Абсолютное позиционирование */
    top: 25%; /* Центрирование по вертикали */
    left: 25%; /* Центрирование по горизонтали */
    /*transform: translate(-50%, -50%);*/ /* Центрирование по центру */
    color: white; /* Цвет текста */
    /*font-size: 2vw;*/ /* Размер шрифта в относительных единицах */
    z-index: 1; /* Уровень поверхности */
}
.popular_recomended {
    margin: 7vh 18vw;
    color: white; /* Цвет текста */
}

.carousel-inner img {
    height: 40vh; /* Высота изображений в слайдере */
    object-fit: cover; /* Сохраняет соотношение сторон и заполняет контейнер */
}


.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(136deg) brightness(102%) contrast(102%); /* Инвертирование цветов для белых стрелок */
    background-color: rgba(0, 0, 0, 0.5); /* Темный полупрозрачный фон для стрелок */
    border-radius: 50%; /* Круглые стрелки */
    width: 50px; /* Ширина стрелок */
    height: 50px; /* Высота стрелок */
    padding: 0; /* Убирает стандартные отступы */
    top: 40%;
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px; /* Размер иконок стрелок */
    height: 20px; /* Размер иконок стрелок */
}

.carousel-caption {
    position: absolute;
    bottom: 20px; /* Отступ снизу */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
    text-align: center; /* Выравнивание текста по центру */
    background-color: rgba(0, 0, 0, 0.5); /* Темный полупрозрачный фон для кнопок */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы кнопок */
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.carousel-button {
    background-color: transparent; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убирает границы кнопки */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 1.2vw; /* Размер шрифта в относительных единицах */
    cursor: pointer; /* Указатель курсора при наведении */
    border-radius: 5px; /* Закругленные углы кнопок */
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

    .carousel-button:hover {
        background-color: white; /* Цвет фона кнопки при наведении */
        color:black;
    }
.info-section {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить блоки на новую строку */
    justify-content: space-between; /* Распределяет пространство между элементами */
    margin: 7vh 18vw;
}

.info-block {
    width: 49.2%; /* Два блока в строке с небольшим отступом между ними */
    height: 30vh; /* Высота блока */
    background-size: cover; /* Сохраняет соотношение сторон и заполняет контейнер */
    background-position: center; /* Центрирует фоновую картинку */
    position: relative; /* Относительное позиционирование для внутреннего контента */
    margin-bottom: 2vh; /* Отступ между строками блоков */
    border-radius: 8px;
}

    .info-block:nth-child(2n) {
        margin-right: 0; /* Убирает отступ справа у второго блока в строке */
    }

.info-content {
    position: absolute;
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ справа */
    background-color: rgba(0, 0, 0, 0.5); /* Темный полупрозрачный фон для контента */
    padding: 10px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы контента */
    right: 50%;
}

.info-title {
    color: white; /* Цвет заголовка */
    font-size: 1.2vw; /* Размер шрифта заголовка */
    margin: 0 0 5px 0; /* Отступы вокруг заголовка */
}

.info-description {
    color: white; /* Цвет описания */
    font-size: 0.8vw; /* Размер шрифта описания */
    margin: 0; /* Убирает стандартные отступы */
}

/* Отображение товаров для выбранной категории */
.productsdiv {
    margin: 7vh 18vw;
    overflow-y: auto; /* Добавляет вертикальный скролл */
    height: 49vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-product {
    width: 35%;
    height: 15vw;
    background-size: cover; /* Сохраняет соотношение сторон и заполняет контейнер */
    background-position: center; /* Центрирует фоновую картинку */
    position: relative; /* Относительное позиционирование для внутреннего контента */
    margin: 0.75vw;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Белая граница с небольшой прозрачностью */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для создания эффекта поднятия */
    overflow: hidden; /* Убирает возможные переполнения */
}

.product-content {
    position: absolute;
    bottom: 65%;
    left: 27%;
    background-color: rgba(0, 0, 0, 0.5); /* Темный полупрозрачный фон для контента */
    padding: 10px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы контента */
    width: calc(50% - 20px); /* Ширина контента с учетом отступов */
}

.product-title {
    color: white; /* Цвет заголовка */
    font-size: 1.2vw; /* Размер шрифта заголовка */
    margin: 0 0 5px 0; /* Отступы вокруг заголовка */
    text-align: center;
}

.product-description {
    color: white; /* Цвет описания */
    font-size: 0.8vw; /* Размер шрифта описания */
    margin: 0; /* Убирает стандартные отступы */
}
.product-button {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.1vw;
    padding: 5px 10px;
    outline: none;
}
    .product-button:hover {
        background-color: white;
        color: red;
    }
    .a-product {
        left: 33%;
        top: 82%;
        position: relative;
    }