@*
    Страница: Новые реквизиты счетов ОАО "Белгазпромбанк"
*@
@{
    ViewData["Title"] = "IBAN";
}

<div class="payment-container">
    <div class="section-title">
        <h1>Новые реквизиты счетов ОАО "Белгазпромбанк"</h1>
        <p class="alert">
            Уважаемый клиент! В связи с переходом платежной системы Республики Беларусь с 04 июля 2017 года на расчеты с использованием банковских счетов в международном формате IBAN и банковских идентификационных кодов (ВІС), сообщаем Вам новые реквизиты счетов ОАО "Белгазпромбанк", предназначенные для получения денежных средств, направляемых клиентами на приобретение электронных денег «Берлио».
        </p>
    </div>

    <div class="section">
        <h2>Реквизиты счетов</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Реквизиты счетов, действующие до</th>
                    <th>Реквизиты счетов, действующие с</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>04.07.2017</td>
                    <td>04.07.2017</td>
                </tr>
                <tr>
                    <td>
                        Для юридических лиц, являющихся резидентами РБ<br>
                        <strong>3119000000054</strong>
                    </td>
                    <td>
                        BY43OLMP31190000000540000933
                    </td>
                </tr>
                <tr>
                    <td>
                        Для индивидуальных предпринимателей, являющихся резидентами РБ<br>
                        <strong>3119000000054</strong>
                    </td>
                    <td>
                        BY43OLMP31190000000540000933
                    </td>
                </tr>
                <tr>
                    <td>
                        Для юридических лиц и индивидуальных предпринимателей, являющихся нерезидентами РБ<br>
                        <strong>3119000000171</strong>
                    </td>
                    <td>
                        BY340LMP31190000001710000933
                    </td>
                </tr>
                <tr>
                    <td>
                        Для юридических лиц и индивидуальных предпринимателей, являющихся нерезидентами РБ<br>
                        <strong>3119000000168</strong>
                    </td>
                    <td>
                        BY790LMP31190000001680000933
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>Для физических лиц</h3>
                        <p>
                            Также с 04.07.2017 изменяется банковский идентификационный код (ВІС) ОАО "Белгазпромбанк".
                        </p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ВІС, действующий до 04.07.2017</th>
                                    <th>ВІС, действующий с 04.07.2017</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>153001742</td>
                                    <td>OLMPBY2X</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <h2>Важная информация</h2>
        <p>
            Просим учесть и использовать данную информацию при оформлении расчетных документов на покупку электронных денег «Берлио» с 04.07.2017.
        </p>
    </div>

    <div class="footer-note">
        <p>
            Если у вас возникнут вопросы, свяжитесь с нами по телефону: <a href="tel:+375172798798">+375 (17) 2-798-798</a> или оставьте сообщение на сайте <a href="https://www.berlio.by" target="_blank">www.berlio.by</a>.
        </p>
    </div>
</div>