@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "О нас";
}
<div class="w-100 contactsaboutTitle">
    <h3 class="TitleContactsAbout">О компании "Берлио"</h3>
</div>
<div style="margin:11vw 18vw">
    <img style="width:100%; height:32.81vw" src="~/images/aboutberlio.png">
    <div style="display: flex; justify-content: space-between; width: 100%; font-size:1.05vw; margin-top:3%;">
        <div style="color:white; width: 49%;">
            <p style="font-size: 1.05vw;">
                <b>НАПРАВЛЕНИЕ ДЕЯТЕЛЬНОСТИ</b><br>
                Основные направления нашей деятельности:<br>
                <ul style="list-style-type: disc; padding-left: 20px;">
                    <li>Разработка и сопровождение программного обеспечения под заказ;</li>
                    <li>Разработка, производство, установка и техническое обслуживание оборудования;</li>
                    <li>Информационно-техническое обслуживание клиентов по системе безналичных расчетов «Берлио» на автозаправочных станциях, в магазинах и на объектах услуг в Беларуси.</li>
                    <li>Разработка, производство, установка и обслуживание оборудования управления на автозаправочных станциях, СТО, пунктах взимания дорожных сборов, в магазинах и в других торговых объектах.</li>
                    <li>Разработка, производство, установка и обслуживание оборудования по обеспечению расчетов по электронным картам.</li>
                </ul>
                <b>НАЗНАЧЕНИЕ СИСТЕМЫ "БЕРЛИО":</b><br>
                Система предназначена для оперативного безналичного расчёта по электронным картам. Основными составляющими узлами системы являются:<br>
                <ul style="list-style-type: disc; padding-left: 20px;">
                    <li>Расчётный центр;</li>
                    <li>Терминалы;</li>
                    <li>Электронные карты.</li>
                </ul>
                <b>ПО КАРТАМ "БЕРЛИО" МОЖНО ОПЛАТИТЬ:</b><br>
                Система предназначена для оперативного безналичного расчёта электронными деньгами. Основными составляющими узлами системы являются:<br>
                <ul style="list-style-type: disc; padding-left: 20px;">
                    <li>топливо;</li>
                    <li>газ;</li>
                    <li>керосин;</li>
                    <li>продукты;</li>
                    <li>промтовары;</li>
                    <li>масла;</li>
                    <li>СТО;</li>
                    <li>техосмотр;</li>
                    <li>дорожный сбор в системе BelToll;</li>
                    <li>дорожный сбор в системе ПЛАТОН;</li>
                    <li>мойку;</li>
                    <li>пылесос;</li>
                    <li>стоянку;</li>
                    <li>Velcom и МТС;</li>
                    <li>услуги таможенных агентов.</li>
                </ul>
                Разработанная в НП ООО "БЕРЛИО", автоматизированная информационно-измерительная система управления технологическим процессом отпуска нефтепродуктов «БЕРЛИО» устанавливается и эксплуатируется на АЗС Республики Беларусь более 20 лет. В настоящее время система является наиболее распространенной в Беларуси, а также действует в части регионов России, входит в Государственный реестр средств измерений РБ и РФ и Государственный реестр кассовых суммирующих аппаратов и компьютерных систем, имеет Сертификат № 8201 Госстандарта РФ от 07 июля 2000г., Сертификат № 3706 Госстандарта РБ от 27 декабря 2005г.
            </p>
        </div>
        <div style="color:white; width: 49%;">
            <b>К УСЛУГАМ КЛИЕНТОВ:</b><br>
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>оперативное заключение договоров;</li>
                <li>безналичный расчёт;</li>
                <li>своевременная бухгалтерская отчётность;</li>
                <li>использование электронных карт;</li>
                <li>возможность получения предоставляемых услуг (заправка любых видов топлива, покупка товаров народного потребления, оплата услуг, дорожных сборов) по одной электронной карте;</li>
                <li>возможность ограничения видов предоставляемых услуг (заправка только конкретного вида топлива) по указанной клиентом электронной карте;</li>
                <li>возможность ограничения суточной, месячной нормы топлива по указанной клиентом электронной карте, надежный металлический корпус в виде брелка для ключей, гарантия 1 год, индивидуальный пароль, надежная защита от подделки;</li>
                <li>возможность получения оперативной информации (цен на топливо, остатка по договору, новых услугах) при помощи:</li>
                <ul style="list-style-type: circle; padding-left: 40px;">
                    <li>Личного кабинета;</li>
                    <li>Электронной почты (рассылка ежемесячных отчётов о реализации, информация о состоянии электронного кошелька, информация о блокировке бортового устройства);</li>
                    <li>СМС-сообщений (остаток денежных средств, состояние электронного кошелька, информация о блокировке бортового устройства);</li>
                    <li>Мобильного приложения Berlio internet client.</li>
                </ul>
            </ul>
        </div>
    </div>
</div>