@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @model int;
<p style="color:white">@ViewData["id"] @ViewBag.Id @Model</p> *@
<div class="productcontent">
    <div class="maininfoproduct">
        <img src="~/images/equipments.png">
        <div class="product-info">
            <h4>Название товара</h4>
            <p>Краткое описание товара</p>
            <a href="#">
                <button class="product-button" type="button">Заказать</button>
            </a>
        </div>
    </div>
    <div style="margin:2.5vw 0 0">
        <h6 style ="font-size: 1vw;">Описание:</h6>
        <p style="font-size: 0.83vw;">
            Каждой электронной карточке, при кодировке на фирме «Берлио», присваивается номер, выгравированный на обратной стороне карточки и устный трёхзначный пин-код.

            Списки устных пин-кодов являются конфиденциальной информацией и хранятся в «Процессинговом центре». Код сообщается пользователю карточки и является ключом при использовании на объекте. 

            Так как система «BERLIO CARD» изначально предназначалась для использования на АЗС, информация, отражающая наличие денежных средств на электронной карточке отображается в литрах, т. е. для того, чтобы узнать, какая сумма является доступной, количество литров необходимо умножить на коэффициент равный стоимости одного литра. 

            Система «BERLIO CARD» построена на связи пользователей с терминалами, установленными на объектах через «Процессинговый центр», который является основным связующим звеном системы, принцип работы которой можно описать следующими основными этапами: 

            Пользователь приобретает электронную карточку в «Процессинговом центре», где происходит регистрация этой электронной карточки путём заключения с клиентом договора об обслуживании системой безналичных расчётов (номер электронной карточки заносится в компьютер, пользователю сообщается устный пин-код). Возможен вариант, когда на один договор заносится несколько электронных карточек. Списки разрешённых карточек передаются на каждый объект при помощи модема во время сеанса связи терминала с «Процессинговом центром». Пользователь обслуживается на объекте, где установлен терминал лишь в том случае, если информация по его электронной карточке находится в списках, переданных «Процессинговым центром» и хранящихся непосредственно терминалом. 

            В конце периода, оговоренного с пользователем при регистрации передаваемой электронной карточки, «Процессинговый центр» предоставляет пользователю отчёт о реализации по его электронной карточке. 
            Гарантийные обязательства НП ООО «Берлио» по обслуживанию всего устанавливаемого оборудования составляют один год с момента установки. Послегарантийное обслуживание производится по дополнительному соглашению сторон.
        </p>
    </div>
    <div style="margin:2.5vw 0 0">
        <h6 style="font-size: 1vw;">Отзывы:</h6>
        <div class="comment">
            
            <div class="comment-details">
                <h6 style="font-size: 1vw;">Артемий а р т е м и й</h6>
                <div class="rating">
                    <span style="font-size: 1vw; color:orange">★★★★★</span> <!-- Звезды как оценка товару -->
                </div>
                <p style="width: 70%; font-size: 0.83vw;">Все супер, просто замечательно!</p>
                <p style="font-size: 0.83vw;">Дата</p>
            </div>
        </div>
    </div>
</div>