@model dynamic

<div class="productcontent">
    <div class="maininfoproduct">
        <img src="~/images/@(Model.Image ?? "equipments.png")">
        <div class="product-info">
            <h4>@Html.Raw(Model.Name)</h4>
            <p style="background-color: #e9ecef;
    padding: 15px;
    border-radius: 8px;">@Html.Raw(Model.ShortDescription)</p>
            <a href="#">
                <button class="product-button" type="button">Заказать</button>
            </a>
        </div>
    </div>
    <div style="margin: 2.5vw 0 0;
    background-color: white;
    padding: 20px;
    border-radius: 10px;">
        <h6 style ="font-size: 1vw;">Описание:</h6>
        <p style="font-size: 0.83vw;background-color: #e9ecef;
    padding: 15px;
    border-radius: 8px;">
            @Html.Raw(Model.LongDescription)
        </p>
    </div>
    <div style="margin:2.5vw 0 0;    background-color: white;
    border-radius: 10px;
    padding: 20px;">
        <h6 style="font-size: 1vw;">Отзывы:</h6>
        <div class="comment">
            
            <div class="comment-details">
                <h6 style="font-size: 1vw;">Артемий а р т е м и й</h6>
                <div class="rating">
                    <span style="font-size: 1vw; color:orange">★★★★★</span> <!-- Звезды как оценка товару -->
                </div>
                <p style="width: 70%; font-size: 0.83vw;">Все супер, просто замечательно!</p>
                <p style="font-size: 0.83vw;">Дата</p>
            </div>
        </div>
    </div>
</div>