@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Контакты";
}
<div class="w-100 contactsaboutTitle">
    <h3 class="TitleContactsAbout">Контакты</h3>
</div>
<div style="margin-top: 11vw; color:white;margin-left: 29%;">
    <h5 style="font-size: 1.65vw;">Головной офис:</h5>
    <p style="font-size: 1.05vw;">
        <i>220007, Беларусь, г.Минск, ул. Быховская<br>
        Режим работы:<br>
        Понедельник - Четверг с 08.30 до 17.30 (без перерыва на обед);<br>
        Пятница сокращенный день с 08.30 до 16.15 (без перерыва на обед);<br>
        Выходной:<br>
            cуббота, воскресенье
        </i>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.130643790961!2d27.5452496770927!3d53.87610533495332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd0250bf8e583%3A0xc92302c6d6e8be1b!2z0JHQtdGA0LvQuNC-!5e0!3m2!1sru!2sby!4v1739876186420!5m2!1sru!2sby" style="border:0; width:36.35vw; height:18.96vw; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h5 style="font-size: 1.65vw; margin-top: 3%;">Офисы в других городах и странах:</h5>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonCountries" data-bs-toggle="dropdown" aria-expanded="false">
            Выберите страну
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonCountries">
            <li>
                <a class="dropdown-item" href="#">
                    <img src="~/images/flags/russia.png" alt="Флаг России" class="country-flag">
                    Россия
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    <img src="~/images/flags/belarus.png" alt="Флаг Беларуси" class="country-flag">
                    Беларусь
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    <img src="~/images/flags/usa.png" alt="Флаг США" class="country-flag">
                    США
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    <img src="~/images/flags/ukraine.png" alt="Флаг Украины" class="country-flag">
                    Украина
                </a>
            </li>
            <!-- Добавьте другие страны по аналогии -->
        </ul>
    </div>
    <p style="font-size: 1.05vw;">
        <i><b>Гродненская область:</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. Гродно, ул. Победы, 17-7</i><br>
        <i><b>Гомельская область:</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. Гомель, ул. Речицкая, 1а, 421</i><br>
        <i><b>Брестская область:</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. Брест, ул. Карла Маркса, 33 – 43</i><br>
        <i><b>Витебская область:</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. Витебск, ул. Правды, 37, корпус 2</i>
    </p>
    <h5 style="font-size: 1.65vw; margin-top: 3%;">Телефоны:</h5>
    <p style="font-size: 1.05vw;">
        <i>
    +375 17 210 00 00
        <br>
    +375 17 397 10 81
        <br>
    +375 17 369 10 82
        <br>
    +375 29 623 08 88 (velcom)
        <br>
            +375 29 773 08 88 МТС</i>
    </p>
    <h5 style="font-size: 1.65vw; margin-top: 3%;">Почта:</h5>
    <p style="font-size: 1.05vw;">
        <i>berlio@berlio.by</i>
    </p>
</div>