@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="w-100 image-container">
    <img style="width:100%;    height: 34vw;" src="~/images/services.png">
    <h2 class="overlay-h">Сервисы</h2>
    <p class="overlay-text">
        Компания НП ООО «БЕРЛИО» специализируется на внедрении системы электронного сбора платы за проезд BelToll, используемой на дорогах Республики Беларусь с 2013 года
        . Ключевой продукт компании — интеграция технологии BelToll с международными стандартами, включая поддержку IBAN для идентификации банковских счетов при проведении транзакций
    </p>
</div>
<div class="services-container">
    <div class="service-cards">
        <div class="service-card" style="background-color: #ecf0f1;">
            <div class="card-content">
                <h3 class="service-name">Оплата проезда по платным дорогам BelToll</h3>
                @* <p class="service-description">Описание первого сервиса</p> *@
                <a asp-action="Service1" asp-controller="Service" class="btn btn-primary service-btn">
                    Подробнее <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="service-card" style="background-color: #dfe6e9;">
            <div class="card-content">
                <h3 class="service-name">Оплата за топливо в формате IBAN</h3>
                @* <p class="service-description">Описание второго сервиса</p> *@
                <a asp-action="Service2" asp-controller="Service" class="btn btn-primary service-btn">
                    Подробнее <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>